{% if prometheus_postgres_exporter_container_labels_traefik_enabled %}
traefik.enable=true

{% if prometheus_postgres_exporter_container_labels_traefik_docker_network %}
traefik.docker.network={{ prometheus_postgres_exporter_container_labels_traefik_docker_network }}
{% endif %}


{# Middlewares #}
traefik.http.middlewares.{{ prometheus_postgres_exporter_identifier }}-replacepath.replacepath.path=/metrics
{% if prometheus_postgres_exporter_basicauth_enabled %}
traefik.http.middlewares.{{ prometheus_postgres_exporter_identifier }}-auth.basicauth.users={{ prometheus_postgres_exporter_basicauth_file_contents }}
{% endif %}

traefik.http.routers.{{ prometheus_postgres_exporter_identifier }}.rule={{ prometheus_postgres_exporter_container_labels_traefik_rule }}
traefik.http.routers.{{ prometheus_postgres_exporter_identifier }}.middlewares={{ prometheus_postgres_exporter_identifier }}-replacepath{% if prometheus_postgres_exporter_basicauth_enabled %},{{ prometheus_postgres_exporter_identifier }}-auth{% endif %}

traefik.http.routers.{{ prometheus_postgres_exporter_identifier }}.service={{ prometheus_postgres_exporter_identifier }}
traefik.http.routers.{{ prometheus_postgres_exporter_identifier }}.tls={{ prometheus_postgres_exporter_container_labels_traefik_tls | to_json }}
{% if prometheus_postgres_exporter_container_labels_traefik_tls %}
traefik.http.routers.{{ prometheus_postgres_exporter_identifier }}.tls.certResolver={{ prometheus_postgres_exporter_container_labels_traefik_tls_certResolver }}
{% endif %}
traefik.http.routers.{{ prometheus_postgres_exporter_identifier }}.entrypoints={{ prometheus_postgres_exporter_container_labels_traefik_entrypoints }}
traefik.http.services.{{ prometheus_postgres_exporter_identifier }}.loadbalancer.server.port={{ prometheus_postgres_exporter_port }}
{% endif %}

{{ prometheus_postgres_exporter_container_labels_additional_labels }}
