#jinja2: lstrip_blocks: "True"
[Unit]
Description={{ prometheus_postgres_exporter_identifier }}
{% for service in prometheus_postgres_exporter_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in prometheus_postgres_exporter_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop --time={{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ prometheus_postgres_exporter_identifier }} 2>/dev/null || true'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ prometheus_postgres_exporter_identifier }} 2>/dev/null || true'

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
			--rm \
			--name={{ prometheus_postgres_exporter_identifier }} \
			--log-driver=none \
			--user={{ prometheus_postgres_exporter_uid }}:{{ prometheus_postgres_exporter_gid }} \
			--cap-drop=ALL \
			--read-only \
			--env-file={{ prometheus_postgres_exporter_base_path }}/env \
			--label-file={{ prometheus_postgres_exporter_base_path }}/labels \
			{% for arg in prometheus_postgres_exporter_container_extra_arguments %}
			{{ arg }} \
			{% endfor %}
			--network={{ prometheus_postgres_exporter_container_network }} \
			{% if prometheus_postgres_exporter_container_http_host_bind_port %}
			-p {{ prometheus_postgres_exporter_container_http_host_bind_port }}:{{ prometheus_postgres_exporter_port }} \
			{% endif %}
			{{ prometheus_postgres_exporter_docker_image }}

{% for network in prometheus_postgres_exporter_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ prometheus_postgres_exporter_identifier }}
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ prometheus_postgres_exporter_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop --time={{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ prometheus_postgres_exporter_identifier }} 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ prometheus_postgres_exporter_identifier }} 2>/dev/null || true'
Restart=always
RestartSec=30
SyslogIdentifier={{ prometheus_postgres_exporter_identifier }}

[Install]
WantedBy=multi-user.target
