[Unit]
Description=Container Socket Proxy ({{ devture_container_socket_proxy_identifier }})
{% for service in devture_container_socket_proxy_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop --time={{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ devture_container_socket_proxy_identifier }} 2>/dev/null || true'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ devture_container_socket_proxy_identifier }} 2>/dev/null || true'

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
			--rm \
			--name={{ devture_container_socket_proxy_identifier }} \
			--log-driver=none \
			--cap-drop=ALL \
			--read-only \
			--network={{ devture_container_socket_proxy_container_network }} \
			--env-file={{ devture_container_socket_proxy_base_path }}/env \
			--label-file={{ devture_container_socket_proxy_base_path }}/labels \
			--mount type=bind,src={{ devture_container_socket_proxy_container_socket_path }},dst=/var/run/docker.sock,ro \
			--tmpfs=/var/lib/haproxy:rw,noexec,nosuid,size=100m \
			--tmpfs=/run:rw,noexec,nosuid,size=100m \
			{% if devture_container_socket_proxy_container_extra_arguments | length > 0 %}
			{{ devture_container_socket_proxy_container_extra_arguments | join(" ") }} \
			{% endif %}
			{{ devture_container_socket_proxy_container_image }}

{% for network in devture_container_socket_proxy_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ devture_container_socket_proxy_identifier }}
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ devture_container_socket_proxy_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop --time={{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ devture_container_socket_proxy_identifier }} 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ devture_container_socket_proxy_identifier }} 2>/dev/null || true'

Restart=always
RestartSec=30
SyslogIdentifier={{ devture_container_socket_proxy_identifier }}

[Install]
WantedBy=multi-user.target
