#jinja2: lstrip_blocks: "True"
[Unit]
Description=Etherpad ({{ etherpad_identifier }})
{% for service in etherpad_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in etherpad_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop --time={{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ etherpad_identifier }} 2>/dev/null || true'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ etherpad_identifier }} 2>/dev/null || true'

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
			--rm \
			--name={{ etherpad_identifier }} \
			--log-driver=none \
			--user={{ etherpad_user_uid }}:{{ etherpad_user_gid }} \
			--cap-drop=ALL \
			--network={{ etherpad_container_network }} \
			{% if etherpad_container_http_host_bind_port %}
			-p {{ etherpad_container_http_host_bind_port }}:9001 \
			{% endif %}
			--label-file={{ etherpad_base_path }}/labels \
			--health-interval={{ etherpad_container_health_interval }} \
			--mount type=bind,src={{ etherpad_config_path }},dst=/config,ro \
			--mount type=bind,src={{ etherpad_data_path }},dst=/data \
			{% for arg in etherpad_container_extra_arguments %}
			{{ arg }} \
			{% endfor %}
			{{ etherpad_container_image }} \
			node --experimental-worker src/node/server.js \
				--settings /config/settings.json \
				--credentials /data/credentials.json \
				--sessionkey /data/sessionkey.json \
				--apikey /data/apikey.json

{% for network in etherpad_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ etherpad_identifier }}
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ etherpad_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop --time={{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ etherpad_identifier }} 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ etherpad_identifier }} 2>/dev/null || true'

Restart=always
RestartSec=30
SyslogIdentifier={{ etherpad_identifier }}

[Install]
WantedBy=multi-user.target
