{% if prometheus_node_exporter_container_labels_traefik_enabled %}
traefik.enable=true

{% if prometheus_node_exporter_container_labels_traefik_docker_network %}
traefik.docker.network={{ prometheus_node_exporter_container_labels_traefik_docker_network }}
{% endif %}


{# Middlewares #}
traefik.http.middlewares.{{ prometheus_node_exporter_identifier }}-replacepath.replacepath.path=/metrics
{% if prometheus_node_exporter_basicauth_enabled %}
traefik.http.middlewares.{{ prometheus_node_exporter_identifier }}-auth.basicauth.users={{ lookup('ansible.builtin.file', prometheus_node_exporter_basicauth_file_tmp) }}
{% endif %}

traefik.http.routers.{{ prometheus_node_exporter_identifier }}.rule={{ prometheus_node_exporter_container_labels_traefik_rule }}
traefik.http.routers.{{ prometheus_node_exporter_identifier }}.middlewares={{ prometheus_node_exporter_identifier }}-replacepath{% if prometheus_node_exporter_basicauth_enabled %},{{ prometheus_node_exporter_identifier }}-auth{% endif %}

traefik.http.routers.{{ prometheus_node_exporter_identifier }}.service={{ prometheus_node_exporter_identifier }}
traefik.http.routers.{{ prometheus_node_exporter_identifier }}.tls={{ prometheus_node_exporter_container_labels_traefik_tls | to_json }}
{% if prometheus_node_exporter_container_labels_traefik_tls %}
traefik.http.routers.{{ prometheus_node_exporter_identifier }}.tls.certResolver={{ prometheus_node_exporter_container_labels_traefik_tls_certResolver }}
{% endif %}
traefik.http.routers.{{ prometheus_node_exporter_identifier }}.entrypoints={{ prometheus_node_exporter_container_labels_traefik_entrypoints }}
traefik.http.services.{{ prometheus_node_exporter_identifier }}.loadbalancer.server.port={{ prometheus_node_exporter_container_http_port }}
{% endif %}

{{ prometheus_node_exporter_container_labels_additional_labels }}
