#jinja2: lstrip_blocks: "True"
[Unit]
Description=Jitsi Jicofo server ({{ jitsi_identifier }})
{% for service in jitsi_jicofo_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop --time={{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ jitsi_identifier }}-jicofo 2>/dev/null || true'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ jitsi_identifier }}-jicofo 2>/dev/null || true'

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
			--rm \
			--name={{ jitsi_identifier }}-jicofo \
			--log-driver=none \
			--network={{ jitsi_container_network }} \
			--env-file={{ jitsi_jicofo_base_path }}/env \
			--mount type=bind,src={{ jitsi_jicofo_config_path }},dst=/config \
			{% for arg in jitsi_jicofo_container_extra_arguments %}
			{{ arg }} \
			{% endfor %}
			{{ jitsi_jicofo_container_image }}

{% for network in jitsi_jicofo_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ jitsi_identifier }}-jicofo
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ jitsi_identifier }}-jicofo

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop --time={{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ jitsi_identifier }}-jicofo 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ jitsi_identifier }}-jicofo 2>/dev/null || true'
Restart=always
RestartSec=30
SyslogIdentifier={{ jitsi_identifier }}-jicofo

[Install]
WantedBy=multi-user.target
