{#
	We override this file (/usr/share/jitsi-meet/base.html) to support serving Jitsi under a subpath.
	See https://github.com/jitsi/jitsi-meet/issues/4917
#}
<base href="{{ jitsi_path_prefix }}{{ '' if jitsi_path_prefix == '/' else '/' }}" />
