#jinja2: lstrip_blocks: "True"
[Unit]
Description=Jitsi Web server ({{ jitsi_identifier }})
{% for service in jitsi_web_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop --time={{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ jitsi_identifier }}-web 2>/dev/null || true'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ jitsi_identifier }}-web 2>/dev/null || true'

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
			--rm \
			--name={{ jitsi_identifier }}-web \
			--log-driver=none \
			--network={{ jitsi_container_network }} \
			--network-alias={{ jitsi_xmpp_domain }} \
			--env-file={{ jitsi_web_base_path }}/env \
			--label-file={{ jitsi_web_base_path }}/labels \
			{% if jitsi_web_container_http_host_bind_port %}
			-p {{ jitsi_web_container_http_host_bind_port }}:80 \
			{% endif %}
			--mount type=bind,src={{ jitsi_web_config_path }},dst=/config \
			--mount type=bind,src={{ jitsi_web_base_path }}/base.html,dst=/usr/share/jitsi-meet/base.html,ro \
			{% if jitsi_web_well_known_enabled %}
			--mount type=bind,src={{ jitsi_web_well_known_path }},dst=/usr/share/jitsi-meet/.well-known,ro \
			{% endif %}
			--mount type=bind,src={{ jitsi_web_transcripts_path }},dst=/usr/share/jitsi-meet/transcripts \
			--mount type=bind,src={{ jitsi_web_crontabs_path }},dst=/var/spool/cron/crontabs \
			{% for arg in jitsi_web_container_extra_arguments %}
			{{ arg }} \
			{% endfor %}
			{{ jitsi_web_container_image }}

{% for network in jitsi_web_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ jitsi_identifier }}-web
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ jitsi_identifier }}-web

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop --time={{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ jitsi_identifier }}-web 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ jitsi_identifier }}-web 2>/dev/null || true'
Restart=always
RestartSec=30
SyslogIdentifier={{ jitsi_identifier }}-web

[Install]
WantedBy=multi-user.target
