#jinja2: lstrip_blocks: "True"
[Unit]
Description=Jitsi Video Bridge ({{ jitsi_identifier }})
{% for service in jitsi_jvb_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop --time={{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ jitsi_identifier }}-jvb 2>/dev/null || true'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ jitsi_identifier }}-jvb 2>/dev/null || true'

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
			--rm \
			--name={{ jitsi_identifier }}-jvb \
			--log-driver=none \
			--network={{ jitsi_container_network }} \
			--network-alias=jvb.meet.jitsi \
			--env-file={{ jitsi_jvb_base_path }}/env \
			--label-file={{ jitsi_jvb_base_path }}/labels \
			{% if jitsi_jvb_container_rtp_udp_host_bind_port %}
			-p {{ jitsi_jvb_container_rtp_udp_host_bind_port }}:{{ jitsi_jvb_rtp_udp_port }}/udp \
			{% endif %}
			{% if jitsi_jvb_container_rtp_tcp_host_bind_port %}
			-p {{ jitsi_jvb_container_rtp_tcp_host_bind_port }}:{{ jitsi_jvb_rtp_tcp_port }} \
			{% endif %}
			{% if jitsi_jvb_container_colibri_ws_host_bind_port %}
			-p {{ jitsi_jvb_container_colibri_ws_host_bind_port }}:9090 \
			{% endif %}
			--mount type=bind,src={{ jitsi_jvb_config_path }},dst=/config \
			{% for arg in jitsi_jvb_container_extra_arguments %}
			{{ arg }} \
			{% endfor %}
			{{ jitsi_jvb_container_image }}

{% for network in jitsi_jvb_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ jitsi_identifier }}-jvb
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ jitsi_identifier }}-jvb

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop --time={{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ jitsi_identifier }}-jvb 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ jitsi_identifier }}-jvb 2>/dev/null || true'
Restart=always
RestartSec=30
SyslogIdentifier={{ jitsi_identifier }}-jvb

[Install]
WantedBy=multi-user.target
