{% if jitsi_jvb_container_labels_traefik_enabled %}
traefik.enable=true

{% if jitsi_jvb_container_labels_traefik_docker_network %}
traefik.docker.network={{ jitsi_jvb_container_labels_traefik_docker_network }}
{% endif %}

{% set middlewares = [] %}

{% if jitsi_jvb_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ jitsi_identifier }}-jvb-strip-prefix.stripprefix.prefixes={{ jitsi_jvb_container_labels_traefik_path_prefix }}
{% set middlewares = middlewares + [jitsi_identifier + '-jvb-strip-prefix'] %}
{% endif %}

{% if jitsi_jvb_container_labels_traefik_additional_request_headers.keys() | length > 0 %}
{% for name, value in jitsi_jvb_container_labels_traefik_additional_request_headers.items() %}
traefik.http.middlewares.{{ jitsi_identifier }}-jvb-add-request-headers.headers.customrequestheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [jitsi_identifier + '-jvb-add-request-headers'] %}
{% endif %}

{% if jitsi_jvb_container_labels_traefik_additional_response_headers.keys() | length > 0 %}
{% for name, value in jitsi_jvb_container_labels_traefik_additional_response_headers.items() %}
traefik.http.middlewares.{{ jitsi_identifier }}-jvb-add-response-headers.headers.customresponseheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [jitsi_identifier + '-jvb-add-response-headers'] %}
{% endif %}

traefik.http.routers.{{ jitsi_identifier }}-jvb.rule={{ jitsi_jvb_container_labels_traefik_rule }}
{% if jitsi_jvb_container_labels_traefik_priority | int > 0 %}
traefik.http.routers.{{ jitsi_identifier }}-jvb.priority={{ jitsi_jvb_container_labels_traefik_priority }}
{% endif %}
traefik.http.routers.{{ jitsi_identifier }}-jvb.service={{ jitsi_identifier }}-jvb
{% if middlewares | length > 0 %}
traefik.http.routers.{{ jitsi_identifier }}-jvb.middlewares={{ middlewares | join(',') }}
{% endif %}
traefik.http.routers.{{ jitsi_identifier }}-jvb.entrypoints={{ jitsi_jvb_container_labels_traefik_entrypoints }}
traefik.http.routers.{{ jitsi_identifier }}-jvb.tls={{ jitsi_jvb_container_labels_traefik_tls | to_json }}
{% if jitsi_jvb_container_labels_traefik_tls %}
traefik.http.routers.{{ jitsi_identifier }}-jvb.tls.certResolver={{ jitsi_jvb_container_labels_traefik_tls_certResolver }}
{% endif %}

traefik.http.services.{{ jitsi_identifier }}-jvb.loadbalancer.server.port=9090
{% endif %}

{{ jitsi_jvb_container_labels_additional_labels }}
