{% if etherpad_container_labels_traefik_enabled %}
traefik.enable=true

{% if etherpad_container_labels_traefik_docker_network %}
traefik.docker.network={{ etherpad_container_labels_traefik_docker_network }}
{% endif %}

{% set middlewares = [] %}

{% if etherpad_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ etherpad_identifier }}-slashless-redirect.redirectregex.regex=({{ etherpad_container_labels_traefik_path_prefix | quote }})$
traefik.http.middlewares.{{ etherpad_identifier }}-slashless-redirect.redirectregex.replacement=${1}/
{% set middlewares = middlewares + [etherpad_identifier + '-slashless-redirect'] %}
{% endif %}

{% if etherpad_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ etherpad_identifier }}-strip-prefix.stripprefix.prefixes={{ etherpad_container_labels_traefik_path_prefix }}
{% set middlewares = middlewares + [etherpad_identifier + '-strip-prefix'] %}
{% endif %}

{% if etherpad_container_labels_traefik_additional_response_headers.keys() | length > 0 %}
{% for name, value in etherpad_container_labels_traefik_additional_response_headers.items() %}
traefik.http.middlewares.{{ etherpad_identifier }}-add-headers.headers.customresponseheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [etherpad_identifier + '-add-headers'] %}
{% endif %}

traefik.http.routers.{{ etherpad_identifier }}.rule={{ etherpad_container_labels_traefik_rule }}
{% if etherpad_container_labels_traefik_priority | int > 0 %}
traefik.http.routers.{{ etherpad_identifier }}.priority={{ etherpad_container_labels_traefik_priority }}
{% endif %}
traefik.http.routers.{{ etherpad_identifier }}.service={{ etherpad_identifier }}
{% if middlewares | length > 0 %}
traefik.http.routers.{{ etherpad_identifier }}.middlewares={{ middlewares | join(',') }}
{% endif %}
traefik.http.routers.{{ etherpad_identifier }}.entrypoints={{ etherpad_container_labels_traefik_entrypoints }}
traefik.http.routers.{{ etherpad_identifier }}.tls={{ etherpad_container_labels_traefik_tls | to_json }}
{% if etherpad_container_labels_traefik_tls %}
traefik.http.routers.{{ etherpad_identifier }}.tls.certResolver={{ etherpad_container_labels_traefik_tls_certResolver }}
{% endif %}

traefik.http.services.{{ etherpad_identifier }}.loadbalancer.server.port=9001
{% endif %}

{{ etherpad_container_labels_additional_labels }}
